* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: #000;
  min-height: 100vh;
}

/* ======== Navbar.jsx ======== */
.navbar {
  position: fixed !important;
  width: 100vw;
  top: 0;
  z-index: 5;
  transition: all 0.35s;
  background: transparent;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.showBg {
  background: #000;
}

.brand__logo img {
  object-fit: contain;
  width: 85px;
  transform: scale(1.09);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.avatar__logo img {
  object-fit: contain;
  width: 35px;
  transform: scale(0.8);
  border-radius: 3px;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar .nav-link,
.sidebar__menu .nav-link {
  color: rgba(255, 255, 255, 0.55) !important;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-size: 14.5px;
  font-weight: 500;
}

.navbar .nav-link:hover,
.navbar .nav-link:active {
  color: rgba(255, 255, 255, 0.9) !important;
}

.navbar .active__navlink,
.sidebar__menu .active__navlink {
  color: #ffffffe6 !important;
}

.languages__dropdown {
  transform: translate(-5px, 8px);
  background: #000;
  border: 1px solid #ffffff49;
  border-radius: 5px;
  padding: 2px 5px 3px 5px;
}

.languages__dropdown .input-group-text,
.languages__dropdown select {
  background: transparent;
  color: #fff;
  border: none;
}

.languages__dropdown .input-group-text {
  transform: translateY(1px);
  padding: 0 3px 0 5px;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.languages__dropdown select:focus {
  outline: none;
}

.languages__dropdown select option {
  background: #000;
  color: #fff;
}

.navbar input,
.sidebar__menu input {
  background: transparent;
  border-radius: 1px;
  width: 250px;
  color: rgba(255, 255, 255, 0.842) !important;
  border-color: #ffffff49 !important;
}

.navbar input::placeholder,
.sidebar__menu input::placeholder {
  color: rgba(255, 255, 255, 0.65);
  letter-spacing: 1px;
}

.navbar input:focus,
.sidebar__menu input:focus {
  box-shadow: none !important;
  background: transparent;
  outline: none;
  border-color: rgba(255, 255, 255, 0.753) !important;
}

.navbar .navbar__button__box {
  display: flex;
}

.navbar .search__button {
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: x-large;
  color: #ffffffc9;
  margin-right: 10px;
  transform: translateY(1.3px);
  display: none;
}

.navbar .navbar-toggler {
  font-size: xx-large !important;
  color: #ffffffc9;
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

.sidebar__menu {
  background: #000 !important;
}

.sidebar__menu .offcanvas-title img {
  width: 85px;
  object-fit: contain;
  margin-left: 0.5rem;
}

.sidebar__menu .offcanvas-header {
  padding-top: 6px;
}

.sidebar__menu .offcanvas-header button {
  color: #fff !important;
}

.sidebar__menu .btn-close {
  background: transparent !important;
  font-size: xx-large !important;
  transform: translateX(-6px) translateY(2.2px);
  height: fit-content;
  width: fit-content;
  font-weight: bold;
}

.sidebar__menu .btn-close i {
  color: #ffffff !important;
}

.sidebar__menu .list-group {
  line-height: 1.1;
}

.sidebar__menu .list-group-item {
  background: transparent;
  color: #fff;
}

.sidebar__menu .nav-link {
  font-size: medium;
  font-weight: 400;
}

.sidebar__menu input {
  width: 85%;
  margin: 1.2rem 0.5rem 0.5rem 0rem;
}

.instruction__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  padding: 2rem 1rem;
}

.get__started__instruction {
  color: rgba(255, 255, 255, 0.842);
  line-height: 2.5;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.instruction__button {
  display: block;
  margin: 1rem auto;
  border: 1px solid #ffffffe6 !important;
  color: #ffffffe6 !important;
  background: transparent;
  font-size: large !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 25px !important;
}

/* ======== Home.jsx ======== */
.home__banner__container {
  object-fit: contain;
  height: 115vh;
  display: flex;
  flex-direction: column;
  border-bottom: 8px solid #333333;
}

.home__banner__container:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 115vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.home__banner__content__box {
  margin: auto 0 auto 5rem;
  color: #fff;
  opacity: 1;
  z-index: 2;
  text-align: center;
  transform: translateY(10%);
  font-family: "Poppins", sans-serif;
}

.home__banner__title {
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 1.2;
  word-spacing: 5px;
  font-weight: bolder;
}

.home__banner__subtitle {
  letter-spacing: 0.8px;
  font-size: large;
  margin-top: 1rem;
}

.home__banner__label {
  letter-spacing: 1px;
  font-size: medium;
  margin-top: 2rem;
}

.home__banner__form__group {
  margin-top: 1rem;
}

.home__banner__form__group input {
  width: 280px;
  padding: 13.2px 20px;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 1.1rem;
}

.home__banner__form__group .getStartedButton {
  padding: 12px 20px 12px 25px;
  text-decoration: none;
  color: #fff;
  background: #e60101;
  transition: all 0.4s;
  border: none;
  font-size: medium;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 1.1rem;
}

.home__banner__form__group .getStartedButton:hover {
  background: #b30202;
}

.home__banner__form__group .getStartedButton i {
  transform: scale(1.5) translateY(1.2px);
}

.info__banner {
  margin: auto;
  padding: 4rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border-bottom: 8px solid #333333;
}

.info__banner__img__box,
.info__banner__content__box {
  flex: 2;
}

.info__banner__img__box img {
  max-width: 100%;
  max-height: 350px;
}

.info__banner__content__box {
  padding: 1rem;
}

.info__banner__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1px;
}

.info__banner__desc {
  margin-top: 1rem;
  font-size: larger;
}

.faq__container {
  padding: 4rem 0;
  letter-spacing: 0.6px;
}

.faq__heading {
  color: #fff;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1.2px;
  line-height: 1.7;
  padding-left: 10px;
  padding-right: 10px;
}

.faq__container .accordion {
  width: 60%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 0;
}

.faq__container .accordion-item {
  margin-top: 1rem;
  background: #000;
  border: none;
  outline: none;
  letter-spacing: 0.8px;
}

.faq__container .accordion-header {
  margin-bottom: 0.3rem;
}

.faq__container .accordion-button {
  background: #333 !important;
  color: #fff !important;
}

.faq__container .accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}

.faq__container .accordion-button.collapsed {
  border-radius: 0 !important;
  outline: none !important;
}

.faq__container .accordion-button::after {
  content: "";
  background-image: url("./media/Icons/chevron-arrow-down.png");
  color: #fff !important;
}

.faq__container .accordion-body {
  background: rgb(31, 31, 31) !important;
  color: rgba(255, 255, 255, 0.85) !important;
  line-height: 1.8;
  letter-spacing: 0.9px;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
}

.faq__form__label {
  margin-top: 3rem;
  margin-bottom: -0.8rem;
  text-align: center;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.faq__form__container {
  display: flex;
  justify-content: center;
}

.faq__form__container .home__banner__form__group {
  display: flex;
  justify-content: center;
}

.faq__form__container .home__banner__form__group input {
  font-size: 15px;
}

/* ======== Browse.jsx ======== */
.all_rows__container {
  padding: 15px;
  padding-top: 30px;
}

/* ======== CollectionsList.jsx ======== */
.collections__box .collection__item {
  background-color: rgb(0, 0, 0, 0.5);
  color: lightgrey;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
  transition: all 0.3s;
}

.collections__box .collection__item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s;
}

.collections__box .collection__item h6 {
  padding: 0.75rem 1rem 0 1rem;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.collections__box .collection__item:hover {
  color: #fff;
}

/* ======== Banner.jsx ======== */
.banner__container {
  object-fit: contain;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.banner__container:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.85;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.banner__box {
  margin: auto 0 auto 5rem;
  color: #fff;
  opacity: 1;
  z-index: 2;
}

.banner__rating {
  margin-top: 5rem;
  margin-bottom: 0.8rem;
  font-size: small;
  width: 55px;
  padding: 5px 10px;
  background: #008000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__rating span {
  font-weight: 600;
  margin-left: 5px;
  letter-spacing: 0.8px;
  transform: translateY(-0.4px);
}

.banner__title {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 3px;
  opacity: 0.9;
}

.buttons__box {
  display: flex;
}

.banner__button {
  margin-right: 20px;
  padding: 8px 20px;
  background: rgba(200, 200, 200, 0.2);
  border: none;
  color: #fff;
  border-radius: 3px;
  margin-top: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__button:hover {
  background: #fff;
  color: #000;
}

.banner__button span {
  font-size: small;
  font-weight: bolder;
}

.banner__button i {
  font-size: medium;
  transform: scale(1.8) !important;
  margin-right: 7px;
}

.banner__button:nth-child(2) i {
  transform: scale(1.3) !important;
}

.banner__desc {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 1.2rem;
  width: 50%;
  line-height: 1.6;
  letter-spacing: 0.8px;
  color: rgb(240, 239, 239);
}

.banner__fadebottom {
  position: relative;
  background-image: linear-gradient(to bottom, transparent, rgba(37, 37, 37, 0.61), #000) !important;
  width: 100%;
  height: 4.4rem;
}

/* ======== ItemsRow.jsx ======== */
.items__row__box {
  display: block;
}

.item__row__header {
  color: #fff;
  font-size: larger;
  letter-spacing: 1px;
  font-weight: 500 !important;
  text-decoration: none;
  transition: all 0.3s;
}

.item__row__header:hover {
  color: #e30817 !important;
}

.items__box {
  overflow-y: hidden;
  overflow-x: auto;
  padding: 13px 0 30px 0;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.items__box::-webkit-scrollbar {
  display: none;
}

.item__img {
  object-fit: contain;
  width: 100%;
  max-height: 135px;
  margin-right: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}

.large__poster {
  max-height: 245px;
  border-radius: 2px !important;
}

.item__img:hover {
  transform: scale(1.06);
  opacity: 0.6;
}

/* ======== Search.jsx ======== */
.search__container {
  padding: 4rem 1rem;
  min-height: 100vh;
}

.search__query {
  margin: 2rem 0rem 2rem 2rem;
  color: rgba(255, 255, 255, 0.55);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  display: flex;
}

.search__query span:nth-child(2) {
  margin-left: 0.7rem;
  color: #b30202;
}

.search__items__box {
  padding: 13px 0;
}

.search__item {
  border: none !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  cursor: pointer;
  margin-bottom: 0.6rem;
}

.search__item .card-body {
  color: rgba(255, 255, 255, 0.35);
  font-size: 13px;
  text-align: center;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.6px;
  padding: 0.7rem 0.4rem !important;
  transition: all 0.4s;
}

.search__item img {
  transition: all 0.4s;
  max-width: 100% !important;
  height: 250px !important;
  object-fit: contain;
  border-radius: 4px !important;
}

.search__item:hover img {
  transform: scale(1.04);
}

.search__item:hover .card-body {
  color: rgba(255, 255, 255, 0.9);
}

.load__more__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load__more__box button {
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.4px;
  background: transparent;
  font-weight: 500;
  border-radius: 0;
}

.load__more__box button i {
  transform: translateY(0.99px);
  font-weight: 600;
}

.load__more__box button:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

/* ======== ItemDetails.jsx ======== */
.not__found__box {
  width: 100vw;
  height: 100vh;
}

.not__found {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.itemdetails__container {
  width: 100%;
  margin: auto;
  padding: 3rem 3% 0.5rem 3%;
  display: flex;
  justify-content: center;
}

.itemdetails__img__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.itemdetails__img {
  margin-top: 1rem;
  max-width: 95%;
  margin-top: 20px;
  max-height: 478px;
  object-fit: cover;
}

.itemdetails__content__box {
  flex: 2;
  padding: 1rem 1rem 0.5rem 0.5rem;
}

.itemdetails__title__rating__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemdetails__title {
  font-family: "Fredoka", sans-serif;
  color: #fff;
  margin-top: 1rem;
  letter-spacing: 2px;
  line-height: 1.5;
}

.itemdetails__rating {
  margin-top: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  background: #015201;
  padding: 5px 0px 5px 8px;
  border-radius: 5px;
  width: 85px;
  text-align: center;
}

.itemdetails__rating i {
  margin-right: 6px;
  transform: translateY(1px) scale(1.08);
  color: #ffd700;
}

.itemdetails__meta__info {
  color: rgba(255, 255, 255, 0.425);
  margin-top: 0.2rem;
  font-size: smaller;
  font-family: "Roboto", sans-serif;
}

.itemdetails__meta__info span {
  letter-spacing: 0.7px;
  padding: 1px 14px;
  border-right: 1.5px solid rgba(255, 255, 255, 0.225);
}

.itemdetails__meta__info span:nth-child(1) {
  padding-left: 0px;
}

.itemdetails__meta__info span:last-child {
  border-right: none;
}

.itemdetails__nav__container {
  margin-top: 1.5rem;
}

.itemdetails__nav__tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.itemdetails__nav__sections section {
  height: 330px;
}

.itemdetails__nav__tabs button {
  flex: 1;
  padding-top: 8px;
  padding-bottom: 13px;
  background: transparent;
  color: rgba(255, 255, 255, 0.525);
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 13px;
  font-family: "Fredoka", sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 0.125);
  cursor: pointer;
  transition: all 0.4s;
}

.activeSection {
  border-bottom: 4px solid red !important;
  color: rgba(255, 255, 255, 1) !important;
  font-weight: 600;
}

.itemdetails__nav__sections {
  margin-top: 1.5rem;
  transition: all 0.5s;
}

.itemdetails__tagline {
  font-family: "Fredoka", sans-serif;
  color: #037a03;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1.8;
  margin-bottom: 0.7rem;
  font-size: large;
}

.itemdetails__desc {
  font-family: "Fredoka", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.itemdetails__chip__box {
  font-family: "Fredoka", sans-serif;
  margin-top: 0.5rem;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 1.7;
}

.itemdetails__chip__box span.chip {
  background: rgba(255, 255, 255, 0.085);
  padding: 3px 15px 3px 15px;
  border-radius: 50px;
  font-size: smaller;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.45);
  transition: all 0.3s;
  cursor: default;
  display: inline-block;
}

.itemdetails__chip__box span.chip:hover {
  background: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.55);
}

.itemdetails__chip__box .cc__chip {
  margin-bottom: 5px !important;
}

.itemdetails__chip__box .cast__more__span {
  color: rgba(255, 255, 255, 0.45);
  font-size: smaller;
  display: inline-block;
}

.itemdetails__chip__box span:nth-child(1) {
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.45);
  font-size: small;
}

.itemdetails__chip__box .chip__span {
  color: rgba(255, 255, 255, 0.642);
  font-size: small;
}

.popularity__span i {
  color: #ffd700;
  transform: translateY(1.5px);
}

.watch__provider__heading {
  min-width: fit-content;
}

.watch__providers__box .watch__provider__item {
  width: 45px;
  height: auto;
  display: block;
  margin: auto;
  object-fit: contain;
  border-radius: 5px !important;
  margin-top: 0.9rem !important;
}

.watch__providers__box p {
  color: #ffffffc9;
  margin-top: 0.5rem;
}

.section__loading {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__loading .spinner-grow {
  color: rgba(255, 0, 0, 0.74);
  margin-right: 15px;
}

.related__content__box,
.movie__screenshots__box {
  font-size: smaller;
  letter-spacing: 0.8px;
  color: rgba(255, 255, 255, 0.65);
}

.related__content__box {
  padding: 1rem 5% 0.5rem 5%;
}

.movie__screenshots__box {
  padding: 1rem 0 3.5rem 0;
}

.movie__screenshots__box img.screenshot__item {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.4s;
  border-radius: 4px;
  cursor: zoom-in;
}

.movie__screenshots__box img.screenshot__item:hover {
  transform: scale(1.03);
  opacity: 0.7;
}

.movie__screenshots__box #screenshotModal {
  background: rgb(0, 0, 0, 0.7);
  cursor: zoom-out;
}

.movie__screenshots__box #screenshotModal .modal-header {
  background-color: #000;
  padding-top: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.movie__screenshots__box #screenshotModal button.close__btn {
  background: transparent;
  padding: 0;
  color: #fff;
  border: none;
  font-size: 30px;
  font-weight: 500;
  float: right;
  transform: translate(-70px, 50px);
}

.movie__screenshots__box #screenshotModal .modal-body {
  padding: 0;
}

.movie__screenshots__box #screenshotModal img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: default;
}

.related__title,
.screenshots__title {
  margin-bottom: 0.6rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.related__title {
  margin-bottom: 1.2rem;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 1200px) {
  .watch__provider__container {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .info__banner {
    padding: 3rem 2rem;
  }
  .info__banner__title {
    font-size: 1.7rem;
  }
  .info__banner__desc {
    font-size: large;
  }
  .navbar .nav-link {
    transform: translateY(5px);
  }
}

@media screen and (max-width: 767px) {
  .navbar .search__button {
    display: block;
  }
  .banner__box {
    margin-left: 1.2rem;
  }
  .banner__title {
    font-size: 2.1rem;
  }
  .banner__desc {
    width: 80%;
  }
  .brand__logo img {
    margin-left: 1.2rem;
  }
  .avatar__logo img {
    margin-right: 1.2rem;
  }
  .itemdetails__container {
    flex-direction: column;
    padding: 4rem 1% 1rem 1%;
  }
  .itemdetails__title__rating__box {
    flex-direction: column;
    align-items: flex-start;
  }
  .itemdetails__content__box {
    padding: 2rem 0.85rem 2rem 0.85rem;
  }
  .itemdetails__img__box {
    justify-content: center;
  }
  .itemdetails__img {
    width: 85%;
    max-height: 400px;
    object-fit: contain;
  }
  .itemdetails__title {
    font-size: 23px;
    margin-top: 0;
    margin-left: 1rem;
  }
  .itemdetails__meta__info {
    margin-top: 1.2rem;
    margin-left: 1rem;
  }
  .itemdetails__rating {
    margin-left: 1rem;
  }
  .itemdetails__nav__sections section {
    height: auto;
    min-height: 200px;
  }
  .itemdetails__chip__box .cc__chip {
    margin-bottom: 10px !important;
  }
  .related__content__box {
    padding: 1rem 2.5%;
    transform: translateY(-1px);
  }
  .related__title,
  .screenshots__title {
    font-size: large;
    margin-bottom: 1rem;
  }
  .screenshots__title {
    margin-bottom: 0.2rem;
  }
  .movie__screenshots__box #screenshotModal button.close__btn {
    transform: translate(-30px, 55px);
  }
  .home__banner__container {
    height: 105vh;
  }
  .home__banner__content__box {
    margin: auto 0 auto auto;
  }
  .home__banner__form__group input,
  .home__banner__form__group .getStartedButton {
    border-radius: 3px;
  }
  .home__banner__title {
    font-size: 1.6rem;
  }
  .home__banner__subtitle {
    font-size: large;
  }
  .info__banner {
    padding: 3rem 1rem;
  }
  .faq__container .accordion {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .brand__logo img {
    margin-left: 0.55rem;
    transform: translateY(-1px);
  }
  .item__row__header {
    margin-top: 2rem;
  }
  .info__banner {
    flex-direction: column;
    text-align: center;
  }
  .flex__order .info__banner__img__box {
    order: 1;
  }
  .flex__order .info__banner__content__box {
    order: 2;
  }
  .faq__container .accordion {
    width: 90%;
  }
  .faq__form__container .home__banner__form__group {
    flex-direction: column;
  }
  .faq__form__container .home__banner__form__group input {
    text-align: center;
  }
  .faq__form__label {
    margin-bottom: 0rem;
  }
  .search__container {
    padding: 3rem 1rem;
  }
  .search__query {
    margin-left: 1rem;
    margin-bottom: 0rem;
  }
  .watch__provider__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .itemdetails__nav__tabs button#trailers span {
    display: none;
  }
  .itemdetails__chip__box span:nth-child(1) {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 769px) {
  .itemdetails__fadebottom {
    position: relative;
    transform: translateX(-35px);
    background-image: linear-gradient(90deg, transparent, rgba(37, 37, 37, 0.41), #000) !important;
    width: 100%;
    margin-top: 20px;
    height: 478px;
  }
}

@media screen and (min-width: 1200px) {
  .watch__provider__heading {
    display: block;
    margin: auto;
  }
  .itemdetails__container {
    padding: 3rem 5% 1.5rem 5%;
  }
  .watch__providers__box .watch__provider__item {
    margin-top: 0.8rem !important;
  }
}
